<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>디테일이에용</title>
</head>
<body>
	<form action = "/update" method = "post">
		<input type = "hidden" name = "id" th:value="${member.id}"/>
		<input type = "text" name = "password" th:value = "${member.password}"/>
		<input type = "text" name = "username" th:value = "${member.username}"/>
		<button type = "submit">수정</button>
	</form> 
	
	<form action = "/delete" method = "get">
		<input type = "hidden" name = "id" th:value = "${member.id}"/>
		<button type = "submit">삭제해용</button>
	</form>
</body>
</html>